In [13]:
import pandas as pd

In [14]:
df = pd.read_excel('Median_income_final.xls')
df.head()

,State,Medianincome_2016,Standarderror_2016,Medianincome_2015,Standarderror_2015,Medianincome2014,Standarderror_2014
0,United States,59039,436,56516,321,53657,392
1,Alabama,47221,2301,44509,3419,42278,1529
2,Alaska,75723,4086,75112,3485,67629,3153
3,Arizona,57100,1971,52248,2008,49254,2304
4,Arkansas,45907,2165,42798,1572,44922,2546

In [15]:
df_totalcharges = pd.read_csv('TotalCharges.csv')
df_totalcharges.tail()

,Unnamed: 0,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,State
201871,201871,988 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,490007,SENTARA NORFOLK GENERAL HOSPITAL,600 GRESHAM DR,NORFOLK,VA,23507,VA - Norfolk,13,48380.69,15660.15,8944.38,Virginia
201872,201872,988 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,510022,CHARLESTON AREA MEDICAL CENTER,501 MORRIS STREET,CHARLESTON,WV,25301,WV - Charleston,11,31227.73,12045.09,9812.55,West Virginia
201873,201873,988 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,520098,UNIVERSITY OF WI HOSPITALS & CLINICS AUTHORITY,600 HIGHLAND AVENUE,MADISON,WI,53792,WI - Madison,12,48584.58,18861.83,14116.00,Wisconsin
201874,201874,988 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,520138,AURORA ST LUKES MEDICAL CENTER,2900 W OKLAHOMA AVE,MILWAUKEE,WI,53215,WI - Milwaukee,14,48784.29,12793.43,11260.86,Wisconsin
201875,201875,989 - NON-EXTENSIVE O.R. PROC UNRELATED TO PRI...,170104,SHAWNEE MISSION MEDICAL CENTER,9100 W 74TH STREET,SHAWNEE MISSION,KS,66204,MO - Kansas City,13,30988.92,6244.62,5078.08,Kansas

In [28]:
df_totalcharges.columns

Index(['Total Discharges', 'Average Covered Charges', 'Average Total Payments',
       'Average Medicare Payments', 'State', 'Medianincome_2016',
       'Medianincome_2015'],
      dtype='object')

In [17]:
df_totalcharges = df_totalcharges.merge(df, how = 'left', on ='State')

In [27]:
df_totalcharges = df_totalcharges[['Total Discharges', 'Average Covered Charges', 'Average Total Payments',
       'Average Medicare Payments', 'State', 'Medianincome_2016','Medianincome_2015']]
df_totalcharges.head()

,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,State,Medianincome_2016,Medianincome_2015
0,11,1014783.45,171081.18,141193.91,Alabama,47221.0,44509.0
1,28,382051.00,194081.39,167511.96,Arizona,57100.0,52248.0
2,21,971881.48,324050.71,294419.62,California,66637.0,63636.0
3,18,1517857.61,257177.33,233532.83,California,66637.0,63636.0
4,17,1470341.06,346150.12,338472.00,California,66637.0,63636.0

In [38]:
df_totalcharges.groupby('State').first()

,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,Medianincome_2016,Medianincome_2015
State,,,,,,
Alabama,11,1014783.45,171081.18,141193.91,47221.0,44509.0
Alaska,12,486576.67,130684.17,128857.67,75723.0,75112.0
Arizona,28,382051.00,194081.39,167511.96,57100.0,52248.0
Arkansas,52,361262.63,92516.33,90509.90,45907.0,42798.0
California,21,971881.48,324050.71,294419.62,66637.0,63636.0
Colorado,11,1017809.00,225019.73,209039.64,70566.0,66596.0
Connecticut,13,1266155.23,268305.23,236996.46,75923.0,72889.0
Delaware,64,277620.63,141846.39,126972.53,58046.0,57756.0
Dist. of Columbia,42,880594.90,225530.48,196105.31,NaN,NaN
Florida,30,1079113.53,188579.17,181159.70,51176.0,48825.0
Georgia,15,542336.73,221120.00,188005.20,53527.0,50768.0
Hawaii,12,793825.08,276840.25,247465.83,72133.0,64514.0
Idaho,13,577744.62,184613.77,172708.23,56564.0,51624.0
Illinois,22,1387768.41,352630.77,263922.05,61386.0,60413.0
Indiana,11,1441760.09,302066.00,278908.09,56094.0,51983.0
Iowa,24,760412.21,243514.83,194955.75,59094.0,60855.0
Kansas,34,641739.76,130257.50,128247.29,56810.0,54865.0
Kentucky,17,758178.94,173141.06,154624.82,45369.0,42387.0
Louisiana,19,725489.53,205274.26,179825.21,42196.0,45922.0
Maine,26,420750.19,176796.42,143729.08,50856.0,50756.0
Maryland,82,174014.32,160658.83,154327.18,73760.0,73594.0
Massachusetts,21,895376.67,258423.24,247499.05,72266.0,67861.0
Michigan,27,523837.00,194225.85,192235.78,57091.0,54203.0
Minnesota,26,563417.96,331390.92,222097.54,70218.0,68730.0
Mississippi,37,337675.78,115429.84,104829.76,41099.0,40037.0
Missouri,45,773946.22,279663.09,202931.11,55016.0,59196.0
Montana,13,91905.08,29839.62,28942.23,57075.0,51395.0
Nebraska,36,730684.00,225829.64,204453.83,59374.0,60474.0
Nevada,53,392281.23,110293.62,101214.85,55431.0,52008.0
New Hampshire,25,536503.72,188148.08,174008.60,76260.0,75675.0
New Jersey,28,1100601.75,241902.96,226881.82,68468.0,68357.0
New Mexico,22,266096.18,148538.55,135590.32,48451.0,45119.0
New York,20,588095.50,275677.10,240922.20,61437.0,58005.0
North Carolina,40,971722.08,273829.85,241655.30,53764.0,50797.0
North Dakota,22,355976.55,139502.73,99664.77,60184.0,57415.0
Ohio,18,922798.89,210959.00,198469.61,53985.0,53301.0
Oklahoma,33,1338839.88,238949.09,222983.36,50943.0,47077.0
Oregon,18,459509.72,217722.61,210304.00,59135.0,60834.0
Pennsylvania,12,2794183.75,280442.67,235201.67,60979.0,60389.0
Rhode Island,25,486934.56,169457.28,157485.64,61528.0,55701.0
South Carolina,63,411236.89,158159.49,130704.35,54336.0,46360.0
South Dakota,13,442268.54,103390.92,100683.77,57450.0,55065.0
Tennessee,19,691394.16,188368.58,186899.63,51344.0,47330.0
Texas,39,602633.33,208717.62,180369.82,58146.0,56473.0
Utah,15,635153.27,292849.47,222587.67,67481.0,66258.0
Vermont,12,274821.25,117790.67,109891.33,60837.0,59494.0
Virginia,13,801000.38,281353.69,166683.85,66451.0,61486.0
Washington,42,675729.24,289089.88,262069.00,70310.0,67243.0
West Virginia,15,291600.00,118859.13,108459.93,44354.0,42824.0
Wisconsin,18,636503.44,174729.89,160932.11,59817.0,55425.0
Wyoming,31,26885.84,7047.52,5958.61,57829.0,60925.0

In [ ]:
for item in